@model ProsperityBank_ADMIN.Models.CustomerDTO
@{
    ViewData["Title"] = "Suspend Customer";

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SuspendCustomerPost" asp-route-id="@Model.CustomerID">
            <div asp-validation-summary="ModelOnly"> class="text-danger"></div>
            <div class="form-group">
                <label>Are you sure you want to Lock @Model.Name</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Lock" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Customer</a>
</div>
