@model ProsperityBank_ADMIN.Models.BillPayDTO
@{
    ViewData["Title"] = "Block BillPay";

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="BlockBillPayPost" asp-route-id="@Model.BillPayId">
            <div asp-validation-summary="ModelOnly"> class="text-danger"></div>
            <div class="form-group">
                <label>Are you sure you want to Block @Model.BillPayId</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Block" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to BillPays</a>
</div>
