@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">Prosperity bank</h1>

    <div class="text-center">
        <img src="~/img/bank.jpg" alt="bank" />
    </div>
</div>

<hr />

<br />
<p style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style: oblique; font-size: 1.2em">Prosperity bank offers a range of banking services . Services include internet banking, bank accounts, viewing transaction, schedule payments and transfering money. Join us now to secure your money on the web.</p>
<br />
